*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#050816;
color:white;
}

nav{
position:fixed;
width:100%;
display:flex;
justify-content:space-between;
padding:20px 8%;
background:rgba(0,0,0,.6);
backdrop-filter:blur(10px);
z-index:1000;
}

.logo{
font-size:28px;
font-weight:700;
color:#00e5ff;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav ul li a{
text-decoration:none;
color:white;
}

.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:70px;
margin-bottom:20px;
}

.hero h3{
color:#00e5ff;
margin-bottom:20px;
}

.hero p{
max-width:700px;
margin:auto;
color:#ccc;
}

.hero-buttons{
margin-top:30px;
}

.btn{
padding:12px 30px;
background:#00e5ff;
color:#000;
text-decoration:none;
border-radius:8px;
margin:10px;
font-weight:600;
}

.btn-outline{
background:transparent;
border:2px solid #00e5ff;
color:#00e5ff;
}

section{
padding:100px 10%;
}

.section-title{
font-size:40px;
text-align:center;
margin-bottom:60px;
color:#00e5ff;
}

.about-container,
.project-grid,
.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:25px;
}

.about-card,
.project-card,
.skill-card,
.timeline-item,
.contact-box{
background:#111827;
padding:25px;
border-radius:15px;
}

.bar{
height:8px;
background:#222;
border-radius:20px;
margin-top:10px;
}

.bar span{
display:block;
height:100%;
background:#00e5ff;
border-radius:20px;
}

.timeline{
display:flex;
flex-direction:column;
gap:20px;
}

footer{
text-align:center;
padding:30px;
background:#020617;
}

@media(max-width:768px){

.hero h1{
font-size:42px;
}

nav ul{
display:none;
}

}
#particles{
position:fixed;
width:100%;
height:100%;
z-index:-1;
overflow:hidden;
}

.particle{
position:absolute;
width:4px;
height:4px;
background:#00e5ff;
border-radius:50%;
bottom:-10px;
animation:float linear infinite;
opacity:.6;
}

@keyframes float{
0%{
transform:translateY(0);
}
100%{
transform:translateY(-120vh);
}
}